<div>
             <h1 style="color: red; margin-left: 500px" >Movies Management App</h1>
                  <h2 style="margin-left: 580px"> IT'S MOVIE TIME !</h2>
  <br>

  <br>
  <p style="margin-left: 100px"> Through our system, you can:
                        <li> Add </li>
                        <li> Search </li>
                        <li> List </li>
          for movies with there release year. </p>
  <nav style="margin-left: 100px">
    <a routerLink="movie" class="btn btn-primary active" role="button" routerLinkActive="active">Movies</a> |
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a> |
    <a routerLink="findbyyear" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
  </nav>
  <router-outlet></router-outlet>
</div>
